/* Write your CSS here */
.container-1 {
  height: 35px;
  width: 550px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item-container {
  height: 25px;
  width: 510px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paragraph {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  margin: 0px;
}
.arrow-logo {
  height: 20px;
  width: 23px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
}
